{% extends "base.html" %}  
      
{% block content %}  
        <div id="subbanner">
            <img src="/static/site/nav_imgs/1111281148289.jpg" width="960" height="180"></div>
        <div class="main_wrapper">
            <div class="sidebar">
                <!--box1-->
                <div class="sidebar_box">
                    <h2 class="tit">
                        新闻动态</h2>
                    <div class="sidebar_box_list">
                        <ul>
                            
                                    <li><a href="{% url comapp.views1.getnews 'company' %}" id="rptypeNews_ctl00_aname"><span>
                                        公司新闻</span></a></li>
                                
                                    <li><a href="{% url comapp.views1.getnews 'job' %}" id="rptypeNews_ctl01_aname"><span>
                                        行业新闻</span></a></li>
                                
                                    <li><a href="{% url comapp.views1.getnews 'qihuo' %}" id="rptypeNews_ctl02_aname"><span>
                                        外盘期货</span></a></li>
                                
                        </ul>
                    </div>
                    <div class="box_b">
                    </div>
                </div>
            </div>
            <div class="main_content">
                <!--right-->
                <div class="sub_content">
                    <h3>
                        <div class="loc">
                            <a href="{% url comapp.views.index %}">首页</a>><a href="{% url comapp.views1.getnews %}">新闻动态</a>><a class="green" href='{% url comapp.views1.getnews newstype %}'>{{title}}</a></div>
                        新闻动态</h3>
                    <div class="content">
                        <ul class="sub_newslist3">
                            <li>
                                <h2>
                                    {{news.title}}<span>{{news.post_time}}</span></h2>
                            </li>
                        </ul>
                        <div class="txt_style news_detial">
                            {{news.content}}
                                    
<p style="text-align: center">
	{% load imgurl %}
	{% if news.image %}
	<img alt="" src="/static/site/big/{{news.image.path|imgurl}}" style="width: 582px; height: 420px" />
	{% endif %}
	</p>
                            <h1 style="text-align: right; height: 30px; line-height: 30px;" class="back">
                                <a href="javascript:history.go(-1);"></a>
                            </h1>
                        </div>
                        <div class="page_ct">
                            <ul>
                                <li>上一篇：<a href="/detail/{{prenews.0}}/" id="pre" title="{{prenews.1}}">{{prenews.1}}</a></li>
                                <li>下一篇：<a href="/detail/{{aftnews.0}}/" id="next" title="{{aftnews.1}}">{{aftnews.1}}</a></li>
                            </ul>
                        </div>
                        <div class="aboutus_print">
                            <div class="print_left">
                                <a href="#"></a>
                            </div>
                            <div class="print_right">
                                <a href="javascript:window.print();"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
